/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  --hue: 230;
  --first-color: hsl(var(--hue), 55%, 55%);
  --first-color-light: hsl(var(--hue), 55%, 65%);
  --first-color-alt: hsl(var(--hue), 50%, 50%);
  --title-color: hsl(var(--hue), 30%, 95%);
  --text-color: hsl(var(--hue), 20%, 80%);
  --text-color-light: hsl(var(--hue), 20%, 70%);
  --text-color-dark: hsla(var(--hue), 20%, 20%, .9);
  --body-color: hsl(var(--hue), 40%, 16%);
  --body-color-light: hsl(var(--hue), 40%, 95%);
  --container-color: hsl(var(--hue), 40%, 20%);
  --container-color-light: hsl(var(--hue), 20%, 90%, .9);
  --bg-color: hsl(194, 17%, 71%);
  --bg-color-light: hsl(180, 20%, 99%);

  /* ========= Font Family ============= */
  --font-poppins-bold: "Poppins", sans-serif, 700;

  --font-poppins-extralight: {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    }
      --first-color: hsl(252, 75%, 60%);
      --first-color-light: hsl(252, 75%, 68%);
      --first-color-alt: hsl(252, 75%, 52%);
      --title-color: hsl(210, 22%, 96%);
      --text-color: hsl(var(--hue), 20%, 80%);
      --text-color-light: hsl(210, 15%, 40%);
      --text-color-light: ligtblue;
      --body-color: hsl(0, 0%, 98%);
      --container-color: hsl(0, 0%, 100%);

      /* ========== Private Colors ========== */
    --color10-deep-aqua: #003b46;
    --color10-ocean: #07575b;
    --color10-wave: #66a5ad;
    --color10-sea-foam: #c4dfe6;
    --color10-sea-foam2: #ddeeff;
    --color10-sea-foam3: #efefef;
    --color10-sea-foam4: #c4c4cd;
    --color10-sea-foam4: #ccddee;
    --color10-sea-foam5: #f3fef3;
    --color10-sea-foam6: #effecc;
    --color10-sea-foam7: #f1f3f5;
    --color41-chic-blue-dark: #3d52a0;
    --color41-chic-blue-light: #7091e6;
    --color41-chic-gray-dark: #8697cd;
    --color41-chic-gray-light: #adbbda;
    --color41-chic-ligh: #ede8f5;
    --color41-chic-dark: #283655;

  /*========== Font and typography ==========*/
  --body-font: "Syne", sans-serif;
  --big-font-size: 3rem;
  --biggest-font-size: 3.5rem;
  --big-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-bolder: 800;
  --font-bold-extra: 900;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
/* 
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 200 to 700

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.oswald-<uniquifier>-italic {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: italic;
}

.oswald-<uniquifier>-bold {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.oswald-<uniquifier>-bold-italic {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: italic;
} 
*/



/*========== Responsive typography==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 5.5rem;
    --big-font-size: 2.75rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1.125rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
textarea,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

/* Light theme styles (default) */

.work, .work__link, .services, .footer {
  background-color: var(--container-color-light) !important;
}
.work__card {
  background-color: aqua !important;
  background-color: rgb(168, 161, 161) !important;
}

/* Dark theme styles */
.dark-theme {
  --title-color: aqua;
  --text-color: hsl(210, 15%, 95%);
  --body-color: hsl(210, 15%, 20%);
  --container-color: hsl(210, 15%, 25%);
}

.dark-theme {
  /* Dark background for dark theme */
  background-color: var(--body-color);
  /* Light text for dark theme */
  color: var(--text-color);
}

body {
  /* White background for light theme */
  background-color: var(--color10-sea-foam5);
  /* Dark text for light theme */
  /* color: var(--color23-blueberry); */
}


/** ================ ANIMATIONS musco logo (start) ================ **/


.musco {
  font-family: 'Oswald', sans-serif;
  font-weight: var(--font-bold-extra);
  perspective: 10000px; 
  color: var(--color41-chic-dark);
}

.dark-theme .musco {
  font-family: 'Anton', sans-serif !important;
  perspective: 10000px !important; 
  color: aqua !important;
}


.musco span {
  cursor: pointer;
  display: inline-block;
  font-size: 41px;
  user-select: none;
  line-height: .8;
}

.musco span:nth-child(1).active {
  animation: balance 1.5s ease-out;
  transform-origin: bottom left;
}

@keyframes balance {
  0%, 100% {
    transform: rotate(0deg);
  }
  
  30%, 60% {
    transform: rotate(-45deg);
  }
}

.musco span:nth-child(2).active {
  animation: shrinkjump 1s ease-in-out;
  transform-origin: bottom center;
}

@keyframes shrinkjump {
  10%, 35% {
    transform: scale(2, .2) translate(0, 0);
  }
  
  45%, 50% {
    transform: scale(1) translate(0, -23px);
  }
  
  80% {
    transform: scale(1) translate(0, 0);
  }
}

.musco span:nth-child(3).active {
  animation: falling 2s ease-out;
  transform-origin: bottom center;
}

@keyframes falling {
  12% {
    transform: rotateX(240deg);
  }
  
  24% {
    transform: rotateX(150deg);
  }
  
  36% {
    transform: rotateX(200deg);
  }
  
  48% {
    transform: rotateX(175deg);
  }
  
  60%, 85% {
    transform: rotateX(180deg);
  }
  
  100% {
    transform: rotateX(0deg);
  }
}

.musco span:nth-child(4).active {
  animation: rotate 1s ease-out;
}

@keyframes rotate {
  20%, 80% {
    transform: rotateY(180deg);
  }
  
  100% {
    transform: rotateY(360deg);
  }
}

.musco span:nth-child(5).active {
  animation: toplong 1.5s linear;
}

@keyframes toplong {
  10%, 40% {
    transform: translateY(-.71vh) scaleY(0.3);
  }
  
  90% {
    transform: translateY(-.71vh) scaleY(2.1);
  }
}
/** ================ ANIMATIONS musco logo (end) ================ **/

  
.dark-theme .nav__logo {
  color: aqua !important;
  font-size: 2.1rem !important;
  font-weight: var(--font-bold) !important;
}

/*^ ========== nav link ========= */
.nav__link{
  color: var(--color41-chic-blue-dark) !important;
}
.nav__link:hover{
  color: var(--color41-chic-dark) !important;
}

.dark-theme .nav__link {
  color: hsl(180, 70%, 85%) !important;
}

.dark-theme .nav__link:hover {
  color: hsl(180, 100%, 50%) !important;
}


.nav__list{
  background-color: transparent !important;
}
.nav__menu{
  background-color: transparent !important;
}



/*^ ========== work link ========= */


.work__link {
  background-color: var(--color41-chic-gray-light) !important;
}
.work__card {
  background-color: hsl(180, 100%, 50%) !important;
} 
.work__link i{
  color: aqua !important;
}

.dark-theme .work__link {
  background-color: hsl(210, 29%, 38%) !important;
}
.dark-theme .work__card {
  background-color: hsl(180, 100%, 50%) !important;
} 
.dark-theme .work__link i{
  color: aqua !important;
}

/*^ ========== Logo Initials ========= */

.logo__initials{
  color: var(--color41-chic-dark);
  font-size: 2.7rem !important;
  font-weight: var(--font-bolder) !important;
}
.logo__text{
  color: var(--color41-chic-blue-dark);
  font-size: 2.7rem !important;
  font-weight: var(--font-bolder) !important;
}
.dark-theme .logo__initials{
  color: aqua !important;
  
}
.dark-theme .logo__text{
  color: hsl(180, 70%, 85%) !important;
}
/*^ ========== theme button ========= */


.theme-button {
  background-color: var(--color41-chic-gray-light) !important;
  color: var(--color41-chic-dark) !important;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  padding: 0;
}
.theme-button:hover {
  color: var(--color12-blue-black) !important;
  border: 1px solid hsl(210, 29%, 38%) !important;
  font-size: larger;
  background-color: var(--color10-sea-foam7) !important;
  outline: 3px solid hsl(210, 29%, 38%)  !important;
  outline-offset: 3px;
}
.dark-theme .theme-button {
  background-color: hsl(210, 29%, 38%) !important;
  color: hsl(180, 100%, 50%) !important;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  padding: 0;
}
.dark-theme .theme-button:hover {
  color: yellow !important;
  border: 1px solid yellow !important;
  font-size: larger;
  outline: 3px solid yellow !important;
  outline-offset: 3px;
}

/*^ ==========  section background color ========= */
.work, 
.services,
.footer   {
  background-color: var(--color10-sea-foam7) !important;
}

.dark-theme .work, 
.dark-theme .services,
.dark-theme .footer   {
  background-color: hsla(210, 29%, 38%, .3) !important;
}


/*^ ==========  section color ========= */

.section__title {
  color: var(--color41-chic-dark) !important;
}

.dark-theme .section__title {
  color: hsl(180, 70%, 85%) !important;
  color: aqua !important;
}


/*^ ==========  title color ========= */

.info__title {
  color: var(--color41-chic-blue-dark) !important;

}
.info__title::after {
  background-color: var(--color41-chic-blue-dark) !important;
}


.dark-theme .info__title {
  color: hsl(180, 70%, 85%) !important;
}
.dark-theme .info__title::after {
  background-color: hsl(180, 70%, 85%) !important;
}

/*^ ==========  home profession ========= */

.home__profession {
  position: relative !important; /* ensuring it's relative */
  font-size: var(--big-font-size);
  font-weight: var(--font-bolder);
  color:  hsl(235, 35%, 35%)!important; /* Clarifying color */
}

.home__profession::after {
  content: '';
  position: absolute; /* absolute positioning */
  left: 0;
  bottom: -0.5rem;
  width: 10%;
  width: 7rem;
  height: 3px;
  background-color: hsl(235, 35%, 35%) !important;
}

.dark-theme .home__profession {
  color: #f1f2f4  !important; /* Clarifying color */
}

.dark-theme .home__profession::after {
  background-color: #f1f2f4 !important;
}


/*^ ==========  text importance ========= */

main .words {
  color: hsla(215, 15%, 15%)!important;
  text-align: justify;
}

.importance {
  color: hsl(235, 35%, 35%) !important;
}

.dark-theme .words {
  color: hsl(180, 70%, 85%) !important;
}
.dark-theme .importance {
  color: aqua !important;
}

.theme-button {
  display: inline-flex;  /* Make sure it's not set to 'none' */
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: yellow;
  color: var(--text-color); 
  color: black; /* And a text/icon color */
  border: none;  /* No border unless you want one */
  padding: 8px 16px;  /* Some padding to make it visible */

}


.header, .footer, .nav__menu {
  background-color: var(--container-color);
}

/* Toggle button icon visibility */
.theme-button .ri-sun-line { display: block; }
.theme-button .ri-moon-line { display: none; }

.dark-theme .theme-button .ri-sun-line { display: none; }
.dark-theme .theme-button .ri-moon-line { display: block; }

.theme-button .ri-sun-line { display: none; }
.dark-theme .theme-button .ri-sun-line { display: block; }
.dark-theme .theme-button .ri-moon-line { display: none; }


input,
button,
textarea {
  border: none;
  outline: none;
}

/*^ ==========  h titles ========= */

h1, h2, h3 {
  font-weight: var(--font-semi-bold);
}

.sub__tittle {
  color: var(--color41-chic-blue-dark) !important;
} 

.dark-theme .sub__tittle {
  color: var(--color41-chic-blue-dark) !important;
  color: var(--title-color) !important;

} 

.dark-theme h1, h2, h3 {
  color: var(--title-color) !important;
  font-weight: var(--font-semi-bold);
}

p {
  line-height: 130%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*^ =============== REUSABLE CSS CLASSES =============== ^*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 2rem;
}

.section__title {
  text-align: center;
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 2rem;
}

.main {
  overflow: hidden;
}

/*^ =============== HEADER & NAV =============== ^*/
.header{
  position: fixed; 
  width: 100%;
  top: 0;
  left: 0;
  background: transparent;
  z-index: var(--z-fixed);
}

.nav{
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__toggle,
.nav__close {
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer; 
}


/*^ Navigation for mobile devices ^*/

@media screen and (max-width: 1149px) {
  .nav__menu{
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsl(var(--hue), 70%, 4%, .2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 50%;
    height: 100%;
    padding: 7rem 3rem;
    transition: right .4s;
  }
}
/* Show menu */
.show-menu{
  right: 0;
}

/* Add blur header */

.blur-header::after{
  content: '';
  position: absolute;
  width: 1000%;
  height: 100%;
  background-color: hsla(var(--hue), 70%, 4%, .2);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  top: 0;
  left: 0;
  z-index: -1;
}
.nav__link{
  color: var(--first-color-light);
  font-weight: var(--font-semi-bold);
  transition: color .4s, transform .4s;
  display: inline-block;
}
.nav__link:hover{
  color: var(--text-color);
  transform: translateY(-.25rem);
}
/* Active link */
.nav__link.active-link {
  color: var(--text-color);
  text-decoration: underline;
  font-weight: var(--font-bold);
}

.nav__link.active-link::after {
  width: 100%;
}

/*=============== HOME ===============*/

.home__container{
  row-gap: 2rem;
  padding-top: 1rem;
  margin-top: 7rem;
}
.home__img{
  width: 420px;
  justify-self: center;
  border-radius: 40%;
  mask-image: radial-gradient(
    circle,
    hsla(var(--hue), 40%, 16%, 1) 60%, 
    hsla(var(--hue), 40%, 16%, 0) 100%
  );
  -webkit-mask-image: radial-gradient(
    circle,
    hsla(var(--hue), 40%, 16%, 1) 60%, 
    hsla(var(--hue), 40%, 16%, 0) 100%
  );
}
.home__name{
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  font-family: var(--font-poppins-bold);
  word-break: break-word;
  margin-bottom: 5rem !important;
}


/*^ ==========  home scroll ========= */

.home__scroll{
  color: hsl(235, 35%, 35%) !important;
  display: inline-flex;
  column-gap: .5rem;
  align-items: center;
  justify-self: center;
  margin-top: 11rem;
  margin-bottom: 11rem;
}

.dark-theme .home__scroll {
  color: var(--title-color) !important;
}

.home__scroll-box{
  /* background-color: var(--color41-chic-gray-light) !important; */
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  font-size: 1.7rem;
  overflow: hidden;
  border-radius: 50%;
}
.dark-theme .home__scroll-box{
  background-color: var(--first-color) !important;
}


.home__scroll-text{
  font-weight: var(--font-semi-bold);
}
.home__scroll-box i{
  animation: scroll-down 3s infinite; 
}

/* Animate scroll icon */
@keyframes scroll-down {
  0%{
    transform: translateY(-.6rem);
    opacity: 0;
  }
  50%{
    transform: translateY(0);
    opacity: 1;
  }
  100%{
    transform: translateY(.6rem);
    opacity: 0;
  }
}

/*^ =============== BUTTON =============== */
.download__button, 
.submit__button {
  display: inline-flex;
  justify-content: center;
  background-color: var(--first-color);
  background-color: var(--color41-chic-gray-light) !important;
  background-color: #fff !important;
  border: 1px solid var(--color41-chic-dark);
  color: var(--color41-chic-dark) !important;
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 2rem;
  transition: background-color .4s;
  border-radius: 1rem;
}

.dark-theme .download__button {
  background-color: var(--color41-chic-gray-dark) !important;
  color: var(--color41-chic-dark) !important;
}

.download__button:hover{
  /* color: var(--color41-chic-dark) !important; */
  border: 1px solid var(--color41-chic-dark) !important;
  background-color: var(--color41-chic-gray-light) !important;
  background-color: var(--color41-chic-ligh) !important;
  color: var(--color41-chic-light) !important;
  text-decoration: underline;
}

.dark-theme .download__button:hover{
  background-color: var(--first-color-alt);
  background-color: hsl(0, 0%, 40%) !important;
  color: hsl(180, 100%, 50%) !important;
  border: 1px solid hsl(180, 100%, 50%) !important;
}
/*=============== WORKS ===============*/
.work{
  background-color: var(--container-color);
}
.work__card{
  background-color: var(--color41-chic-blue-dark) !important;

}
.work__img{
  width: 100%;
  object-fit: cover;
  border-radius: .5rem;
}
.work__link{
  display: block;
  position: relative;
  background-color: var(--container-color) !important;  
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  color: var(--text-color);
  transition: transform .4s;
}
.work__title{
  font-size: var(--h3-font-size);
  margin-bottom: .75rem;
  color: var(--color41-chic-blue-dark) !important;
}

.dark-theme .work__title {
  color: aqua !important;
}


.work__link i{
  position: absolute;
  top: 1.8rem;
  right: 1.5rem;
  font-size: 1.5rem;  
  color: var(--first-color-light);
  color: var(--color41-chic-blue-dark) !important;
  transition: transform .4s;
}
.dark-theme .work__link{
  color: var(--first-color-light);
}


.work__link:hover{
  transform: translateY(.35rem);
}
.work__link:hover i{
  transform: translateX(.5rem);
}
/*^ =============== INFO =============== ^*/
.info__container{
  row-gap: 3rem;
  position: relative;
}
.info__title{
  position: relative;
  font-size: var(--h2-font-size) !important; 
  color: var(--color41-chic-blue-dark) !important;
  margin-bottom: 2rem;
}
.dark-theme .info__title{
  color: var(--text-color) ! important;

}

.info__title::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -.5rem;
  width: 100%;
  height: 5px;
  background-color: var(--text-color);
}
/*^ ABOUT ^*/
.about{
  row-gap: 3rem;
}
.about__description{
  margin-bottom: 2rem;
}
.about__description b{
  color: var(--first-color-light);
}
.about__img{
  width: 320px;
  justify-self: center;
  border-radius: 40%;
  mask-image: radial-gradient(
    circle,
    hsla(var(--hue), 40%, 16%, 1) 60%, 
    hsla(var(--hue), 40%, 16%, 0) 100%
  );
  -webkit-mask-image: radial-gradient(
    circle,
    hsla(var(--hue), 40%, 16%, 1) 60%, 
    hsla(var(--hue), 40%, 16%, 0) 100%
  );
}
.about__button{
  width: 100%;
}

/*^ =========== EXPERIENCE =========== ^*/
.experience__content{
  row-gap: 2rem;
}
.experience__data{
  row-gap: 1rem;
}
.experience__company{
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
}
.experience__profession{
  font-size: var(--h3-font-size);
  margin-bottom: .25rem;
}
.experience__date{
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: .75rem;
}

/*^ =========== SKILLS ============== ^*/

.skills__img{
  width: 50px;
  height: 50px;
  margin-bottom: .5rem;
}
.skills__name{
  font-size: var(--small-font-size);
}
.skills__content{
  grid-template-columns: repeat(3, max-content);
  justify-content: space-around;
  align-items: flex-end;
}
.skills__box{
  display: grid;
  place-items: center;
  transition: transform .4s;
}
.skills__box:hover{
  transform: translateY(-.25rem);
  color: var(--color41-chic-dark) !important;
  text-shadow: 0 0 5px var(--color41-chic-gray-dark) !important;
  text-decoration: underline;
}
.dark-theme .skills__box:hover{
  transform: translateY(-.25rem);
  color: aqua !important;
  text-shadow: 0 0 7px aqua !important;
  text-decoration: underline;
}
/*^ =============== SERVICES =============== ^*/
.services{
  background-color: var(--container-color);
}
.services__container{
  row-gap: 2rem;
}
.services__icon{
  display: block;
  font-size: 2rem;
  color: var(--text-color-light);
  margin-bottom: 1rem;
}
.services__title{
  font-size: var(--h3-font-size);
  margin-bottom: .75rem;
}
/*^ ----------- Icons ------------ ^*/
.musco__icon{
  width: 250px;
  height: 250px;
  margin: 3rem auto;
}
.services__icon {
  font-size: 3rem;
  color: var(--color41-chic-blue-dark) !important;
}
.dark-theme .services__icon {
  font-size: 3rem;
  color: aqua !important;
}

/*^ =============== CONTACT =============== ^*/
.contact__container{
  row-gap: 4rem;
}
.contact__group,
.contact__form{
  gap: 1rem;
}
.contact__form{
  position: relative;
}
.contact__input{
  padding: 1.25rem;
  color: var(--title-color) !important;
  font-weight: var(--font-semi-bold);
  border-radius: .5rem;
}

.inputs{
  background-color: var(--container-color) !important;
  color: var(--title-color);
  background-color: var(--color41-chic-gray-light) !important;
  color: var(--color41-chic-dark) !important;
}
.dark-theme .inputs{
  background-color: var(--container-color) !important;
  color: #fff !important;
}

.inputs:hover{
  background-color: var(--color41-chic-gray-dark) !important;
}


.contact__input::placeholder{
  color: var(--text-color-light);
  color:hsla(200, 0%, 100%); 
}

.dark-theme .contacts::placeholder{
  color: var(--text-color-light);
  color:hsla(0, 0%, 100%,.7); 
}



.contact__area{
  height: 10rem;
  resize: none;
  border-radius: .5rem;
}


.dark-theme .inputs:hover{
  background-color: hsla(0, 0%, 100%,.3) !important;
}

.contact__button{
  margin-top: 1rem;
  cursor: pointer;
  background-color: hsla(0, 0%, 100%,.5);
}

.contact__button:hover{
  border: 1px solid var(--color41-chic-dark) !important;
  background-color: var(--color41-chic-ligh) !important;
  color: var(--color41-chic-light) !important;
  text-decoration: underline;
}

.contact__social{
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  column-gap: 3rem;
  margin-bottom: 1rem;
}
.contact__social-link{
  color: var(--first-color-light);
  color: hsla(0, 0%, 100%,.7);
  display: inline-flex;
  column-gap: .25rem;
  align-items: center;
  font-size: 1.5rem;
  transition: color .4s, transform .4s;
}
.contact__social-link span{
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
}
.contact__social-link:hover{
  color: var(--title-color);
  transform: translateY(-.25rem);
}
.contact__message{
  position: absolute;
  left: 0;
  bottom: -2rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}
.contact__message{
  color: var(--color41-chic-dark) !important;
}
.dark-theme .contact__message{
  color: aqua !important;
}
.dark-theme .contact__button{
  margin-top: 1rem;
  cursor: pointer;
  background-color: hsla(0, 0%, 100%,.5) !important;
  background-color: var(--color41-chic-gray-dark) !important;
  color: var(--color41-chic-dark) !important;

}
.dark-theme .contact__button:hover{
  background-color: hsl(0, 0%, 40%) !important;
  color: hsl(180, 100%, 50%) !important;
  border: 1px solid hsl(180, 100%, 50%) !important;
  /* margin-bottom: 4px; */
  /* margin-bottom: -2px !important; */
}
.home__img, 
.about__img {
  opacity: .7 !important;
}
.home__img:hover,
.about__img:hover {
  opacity: 1 !important; 
  transform: translateY(-1rem) !important;
  transition: transform .4s;  
}

/*^ =============== FOOTER =============== ^*/
.footer{
  background-color: var(--container-color);
}
.footer__container{
  padding-block: 3rem 5rem;
  row-gap: 3rem;
}
.footer__links{
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
}
.footer__link {
  color: var(--text-color-light);
  font-weight: var(--font-semi-bold);
  display: inline-block; /* Ensures transform can be applied */
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transitions */
}

.footer__link:hover {
  text-decoration: underline;
  transform: translateY(-.25rem) !important;
}
.footer__copy{
  font-size: var(--small-font-size);
  text-align: center;
  display: inline-flex;
  column-gap: .5rem;
  justify-self: center;
}
/*^ =============== SCROLL BAR =============== ^*/
::-webkit-scrollbar{
  width: .6rem;
  /* width: 0; */
  background-color: hsl(var(--hue), 20%, 20%);
}
::-webkit-scrollbar-thumb{
  background-color: hsl(var(--hue), 20%, 30%);
}
::-webkit-scrollbar-thumb:hover{
  background-color: hsl(var(--hue), 20%, 40%);
}

/*^ =============== SCROLL UP =============== ^*/
.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -50%vh !important;
  background-color: var(--container-color);
  display: inline-flex;
  padding: 6px;
  color: var(--title-color);
  font-size: 1.25rem;
  box-shadow: 0 4px 12px hsla(var(--hue), 30%, 8%, .3);
  border-radius: 50%;
  z-index: var(--z-tooltip);
  transition: bottom .4s, transform .4s ease-in-out;
  background-color: hsla(var(--hue), 79%, 49%, .9);
  will-change: transform;
}
.scrollup:hover{
  /* transform: translateY(-.5rem); */
  transform: translate3d(0, -.5rem, 0);
}
/******************  Show Scroll Up *******************/
.show-scroll{
  bottom: 3rem;
}

/*^ ================== media queries ================== */
/*^ ==================  BREAKPOINTS  ================== */

/*? ------------------ For extra-small devices -------------- ?*/
@media screen and (max-width: 300px){
  .container, .section{
    margin-inline: 1rem;
    max-width: 100vw;
  }
  .skills__content{
    grid-template-columns: repeat(2, max-content);
  }
  .home__img{
    /* display: none; */
    width: 180px;
    opacity: 0.5;
  }
  .home__name{
    font-size: 1.3rem !important;
    font-weight: var(--font-bold);
    text-align: center !important;
  }
  .home__profession{
    font-size: 1rem !important;
    font-weight: var(--font-bold);
    text-align: center !important;
  }
  .home__profession::after{
    bottom: -1rem;
    width: 0 !important;
  }
  .logo__initials{
    font-size: 1.2rem !important;
    font-weight: var(--font-bold) !important;  
  }
  .logo__text{
    font-size: 1.2rem !important;
    font-weight: var(--font-bold) !important; 
  }
  .contact__block,
  .services__block {
    display: none !important;
  }
  
}
/*? -----------------  For small devices -------------------- ?*/

@media screen and (max-width: 540px) and (min-width: 301px){
  .container, .section{
    margin-inline: 1.25rem;
  }
  .skills__content{
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    width: 100%;
  }
  .home__img{
    /* display: none; */
    width: 280px;
  }
  .home__name{
    font-size: 1.7rem;
    font-weight: var(--font-bold);
    text-align: center !important;
  }
  .home__profession{
    font-size: 1.3rem !important;
    font-weight: var(--font-bold) !important;
    text-align: center !important;
  }
  .home__profession::after{
    bottom: -1rem;
    width: 0 !important;
  }
  .logo__initials{
    font-size: 1.7rem !important;
    font-weight: var(--font-bold) !important;  
  }
  .logo__text{
    font-size: 1.7rem !important;
    font-weight: var(--font-bold) !important; 
  }
  .inputs {
    width: 70%;
    margin: 0 1rem;
  }
  .submit__button {
    width: 70%;
    margin: 0 1rem;
  }
}
/*? ------------------ For medium devices ------------------ ?*/

@media screen and (min-width: 541px) and (max-width: 767px){
  .home__container, .info__container, .work__container, .services__container, .contact__container {
    grid-template-columns:350px;
    justify-content: center;
  }
  .skills__content{
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    width: 100%;
  }
  .home__img{
    /* display: none; */
    width: 320px;
  }
  .home__name{
    font-size: 2rem;
    font-weight: var(--font-bold);
    text-align: center !important;
  }
  .home__profession{
    font-size: 1.5rem;
    font-weight: var(--font-bold) !important;
    text-align: center !important;
  }
  .home__profession::after{
    bottom: -1rem;
    width: 0;
  }
  .logo__initials{
    font-size: 1.9rem !important;
    font-weight: var(--font-bold) !important;  
  }
  .logo__text{
    font-size: 1.9rem !important;
    font-weight: var(--font-bold) !important; 
  }
  .inputs {
    width: 80%;
    margin: 0 auto;
  }
  .submit__button {
    width: 80%;
    margin: 0 auto;
  }
}

/*? --------------------  For large devices ------------------ ?*/

@media screen and (min-width: 768px) and (max-width: 1149px){
  .container{
    margin-inline: 2rem;
  }
  .home__container, .info__container, .work__container, .services__container{
    grid-template-columns:repeat(2, 370px);
    justify-content: center;
  }
  .info__container{
    grid-template-columns: initial;
  }
  .about{
    align-items: center;
  }
  .about__data{
    width: 50%;
    align-self: flex-end;
    padding: 0 1.5rem;
    text-align: justify;
  }
  .about__content{
    grid-template-columns: repeat(2, 350px);
    display: flex;
    flex-direction: row-reverse;
    gap:3rem;
  }
  .about img {
    width: 280px;
  }  
  .experience__data{
    grid-template-columns: repeat(2, 1fr);
  }
  .skills__content{
    grid-template-columns: repeat(4, max-content);
    justify-content: center;
    width: 100%;
    gap: 5rem;
  }
  .home__img{
    /* display: none; */
    width: 300px;
  }
  .home__name{
    font-size: 2.5rem;
    font-weight: var(--font-bold);
  }
  .home__profession{
    font-size: 2rem;
    font-weight: var(--font-bold);
  }
  .logo__initials{
    font-size: 2rem !important;
    font-weight: var(--font-bold);  
  }
  .logo__text{
    font-size: 2rem !important;
    font-weight: var(--font-bold);  
  }
  .nav__menu{
    width: 25%;
  
  }
  .nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: -2rem;
  }
  .nav__close{
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  
  .home__data{
    align-self: flex-end;
    padding-bottom: 3rem;
    order: -1; 
  }
  .home__scroll{
    grid-column: 1 / -1;
    grid-column: 1 / 3;
  }
  .inputs {
    width: 70%;
    margin: 0 auto;
  }
  .submit__button {
    width: 70%;
    margin: 0 auto;
  }
 
}
/*? --------------------  For extra-large devices ----------------------- ?*/

@media screen and (min-width: 1150px){
  .container{
    margin-inline: auto;
  }
  .section{
    padding-block: 7rem 5rem;
  }
  .section__title{
    margin-bottom: 4rem;
  }
  .nav{
    height: calc(var(--header-height) + 2rem);
  }
  .nav__close,
  .nav__toggle {
    display: none;
  }
  .nav__menu{
    width: initial;
  } 
  .nav__list{
    display: flex !important;
    gap: 3rem;
    margin-right: 1.5rem;
  }
  
  .home__container{
    grid-template-columns: 1fr 1fr;
    gap: 3rem 7rem;
  }
  .home__img{
    width: 350px;
  }
  .home__name{
    margin-bottom: 1.5rem;
    font-size: var(--biggest-font-size);
    font-size: 2.7rem !important;
    font-weight: var(--font-bolderer) !important;
  } 
  .home__profession{
    font-size: 2.2rem;
    font-weight: var(--font-bolder);
  }
  .home__profession::after{
    bottom: -1rem;
    width: 37%;
  }

  .home__data{
    align-self: flex-end;
    padding-bottom: 3rem;
    order: -1; 
  }
  .home__scroll{
    grid-column: 1 / -1;
    grid-column: 1 / 3;
  }
  .work__container{
    grid-template-columns: repeat(2, 540px);
    gap: 2.5rem;
  }
  .work__link{
    padding: 3rem  3rem 2rem;
  }.work__title{
    font-size: var(--h2-font-size);
    margin-bottom: 1rem;
  }
  .work__link i{
    font-size: 2rem;
  }
  .info__container{
    row-gap: 4rem;
  }
  .info__title{
    font-size: var(--normal-font-size);
    margin-bottom: 3.5rem;
  }
  .about{
    align-items: center;
  }
  .about__data{
    width: 50%;
    align-self: flex-end;
    padding: 0 1.5rem;
    text-align: justify;
  }
  .about__content{
    grid-template-columns: repeat(2, 350px);
    display: flex;
    flex-direction: row-reverse;
    gap:3rem;
  }
  .about img {
    width: 320px;
  }  
  .skills__content{
    grid-template-columns: repeat(4, max-content);
    justify-content: center;
    width: 100%;
    gap: 5rem;
  }
  .about__description{
    margin-bottom: 3rem;
  }
  .about__button{
    width: initial;
  }
  .experience__content{
    row-gap: 4rem;
    align-items: center;
    justify-content: center;
  }
  .experience__data{
    grid-template-columns: 320px 380px;
    column-gap: 9rem;
  }
  .experience__company{
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
  } 
  .experience__profession{
    font-size: var(--h3-font-size);
    margin-bottom: .5rem;
  }
  .experience__date{
    font-size: var(--normal-font-size);
    margin-bottom: 1.5rem;
  }
  .skills__content{
    grid-template-columns: repeat(6, max-content);
    justify-content: center;
    width: 100%;
    gap: 5rem;
  }
  .services__container{
    grid-template-columns: repeat(2, 350px);
    gap: 6rem 13rem;
    align-items: center;
    justify-content: center;
  }
  .services__icon{
    font-size: 2.5rem;  
    margin-bottom: 1.5rem;
  }
  .contact__container{
    grid-template-columns: 580px;
    align-items: center;
    justify-content: center;
  }
  .contact__group{
    grid-template-columns: repeat(2, 1fr);
  }
  .contact__area{
    height: 15rem;
  }
  .contact__button{
    width: max-content;
    justify-self: center;
    margin-top: 1.5rem;
  }
  .contact__message{
    bottom: 4.5rem;
  }
  .contact__social{
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    column-gap: 5rem;
    margin-bottom: 2rem;
  }
  .contact__social i{
    font-size: 1.5rem;
  }
  .contact__social-text{ 
    font-size: 1.1rem !important;
    font-weight: var(--font-bolder);
  }
  .footer__container{
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    row-gap: 5rem;
  } 
  .scrollup{
    bottom: 3rem;
    right: 3rem;
  } 
}

